$color-nav: #AD141E;
$tipografia: 'Merriweather Sans', Arial, sans-serif;
$tamano-fuente:10px;
$color-fondo: transparent;
$color-letra: #696969;
$color-borde:(234, 71, 72);
$color-nav: #fff;
$color-botones:#ea4748;
$width:100%;


